/* INIT */
html{
  font-size: 62.5%;
  box-sizing: border-box;
}

/* RESET START*/
*,
*::after,
*::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

button{
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}

/* RESET END */

body {
  display: grid;
  justify-content: center;
  height: 100vh;
}