.wrapper{
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--fullWidth{
        max-width: 100vw;
    }

    &--row{
        flex-direction: row;
        justify-content: center;
    }

    &--row-reverse{
        flex-direction: row-reverse;
    }
}